.navbar-container{
    background-color: #bff553;
    border-bottom: 1px solid #e6e6e6;
    height: 54px;
    width: 100%;
    justify-content: space-between;
    padding: 0 20px;

    align-items: center;    
    flex-direction: row;
}
.list-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    list-style-type: none;    
}
.list-container button{
    background-color: transparent;
    border: none;
    color:rgb(82, 85, 85);
    font-size: 1.5rem;
    font-weight: 600;
    cursor:pointer;
    padding: 0.5rem 1rem;
    transition: all 0.5s ease-in-out;

}